html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Teko', sans-serif;
  font-size: 24px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.856);

}


nav {
  margin: -46px auto -65px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
  background-image: url("../public/logopic.jpg");
  color: white;
}

nav a {
  margin-left: 5%;
  text-indent: -15%;
  color: white;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

ul, li {
  list-style: none;
  text-align: left;
  margin-top: 5%;
 
}

nav .logo {
  margin-right: auto;
}

.logo {
  cursor: pointer;
}

.footer {
  display: block;
  text-align: center;
  padding: 0px 0;
  margin-top: auto;
  color: white;
  border-top: 1px solid #eaeaea;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: url("../public/logopic.jpg");
}

.titlebox {
  width: 100%;
  /* height: 25%; */
}

.title {
  text-align: center;
  font-size: 80px;
  color: #ddd;
}

.web-services {
  margin: auto;
  text-align: center;
  color: white;
  background-color: rgba(36, 52, 71, 0.5);
  height: 3rem;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
}

.web-services-body{
  height: 20rem;
  width: 50%;
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 1%;
  margin-top: 2%;
  text-align: left;
  color: white;
  background-color: rgba(36, 52, 71, 0.5);
  border: 1px solid white;
  margin-bottom: 2rem;
}

.web-services-body1 {
  height: 20rem;
  width: 50%;
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 1%;
  margin-top: 2%;
  text-align: left;
  color: white;
  background-color: rgba(36, 52, 71, 0.5);
  border: 1px solid white;
  margin-bottom: 2rem;
}

.data-services {
  margin: auto;
  text-align: center;
  color: white;
  background-color: rgba(36, 52, 71, 0.5);
  height: 3rem;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  border: 1px solid white;
}

.data-services-body {
  height: 20rem;
  width: 50%;
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 1%;
  margin-top: 2%;
  text-align: left;
  color: white;
  background-color: rgba(36, 52, 71, 0.5);
  border: 1px solid white;
  margin-bottom: 2rem;
}

.data-services-body1 {
  height: 20rem;
  width: 50%;
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 1%;
  margin-top: 2%;
  text-align: left;
  color: white;
  background-color: rgba(36, 52, 71, 0.5);
  border: 1px solid white;
  margin-bottom: 2rem;
}

.automation-services {
  margin: auto;
  text-align: center;
  color: white;
  background-color: rgba(36, 52, 71, 0.5);
  height: 3rem;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  border: 1px solid white;
}

.automation-services-body {
  height: 20rem;
  width: 50%;
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 1%;
  margin-top: 2%;
  text-align: left;
  color: white;
  background-color: rgba(36, 52, 71, 0.5);
  border: 1px solid white;
  margin-bottom: 2rem;

}

.automation-services-body1 {
  height: 20rem;
  width: 50%;
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 1%;
  margin-top: 2%;
  text-align: left;
  color: white;
  background-color: rgba(36, 52, 71, 0.5);
  border: 1px solid white;
  margin-bottom: 2rem;

}

.qanda-services {
  margin: auto;
  text-align: center;
  color: white;
  background-color: rgba(36, 52, 71, 0.5);
  height: 3rem;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  border: 1px solid white;
}

.qanda-services-body {
  height: 20rem;
  width: 50%;
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 1%;
  margin-top: 2%;
  text-align: left;
  color: white;
  background-color: rgba(36, 52, 71, 0.5);
  border: 1px solid white;
  margin-bottom: 2rem;

}

.qanda-services-body1 {
  height: 20rem;
  width: 50%;
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 1%;
  margin-top: 2%;
  text-align: left;
  color: white;
  background-color: rgba(36, 52, 71, 0.5);
  border: 1px solid white;
  margin-bottom: 2rem;

}

.service-body {
  margin-bottom: 10%;
}

.service-list {
  font-size: 48px;
  text-decoration: underline;
  margin: 0;
}

.service-paragraph {
  margin: 0;
  font-size: 20px;
}

.table-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Home page  */

.home-info {
color: white;
height: 20rem;
  width: 50%;
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 1%;
  margin-top: 2%;
  text-align: left;
  border: 1px solid white;
  margin-bottom: 2rem;
  position: relative;
  transform: translateX(260px);
  opacity: 1;
  transition: 5s all ease;
  background-color: rgba(36, 52, 71, 0.5);
}
.home-info{
  transform: translateY(0);
  opacity: 1;
}
.button{
  color: white;
  background-color: rgba(0, 0, 0, 0.856);
  height: 50px;
  width: 100%;
  margin-bottom: 5%;
}


.Home-page{
  background-image:  url('../public/1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}

/* about page*/

 .name-1{
  color: white;
height: 20rem;
  width: 50%;
  margin: 1%;
  margin-top: 2%;
  text-align: left;
  border: 1px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    display: block;
 
 }

 .name-2{
  color: white;
height: 20rem;
  width: 50%;
  margin: 1%;
  margin-top: 2%;
  text-align: left;
  border: 1px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
   

 }
 button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.container{
  display: flex;
  justify-content: space-between;
flex-direction: row;
flex-wrap: wrap;
}


@media only screen and (orientation: landscape) {
  .button {
    color: white;
  background-color: rgba(0, 0, 0, 0.856);
  height: 50px;
  width: 100%;
  margin-bottom: 8%;
  }
}

@media only screen and (orientation: portrait) {
  .button {
    color: white;
  background-color: rgba(0, 0, 0, 0.856);
  height: 50px;
  width: 100%;
  margin-bottom: 25%;
  }
}