html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Teko', sans-serif;
  font-size: 24px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.856);

}


nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
  background-image: url("../public/logopic.jpg");
  color: white;
}

nav a {
  margin-left: 5%;
  text-indent: -15%;
  color: white;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

ul, li {
  list-style: none;
  text-align: left;
  margin-top: 5%;
 
}

nav .logo {
  margin-right: auto;
}

.logo {
  cursor: pointer;
}

.footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: auto;
  color: white;
  border-top: 1px solid #eaeaea;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: url("../public/logopic.jpg");
}

.titlebox {
  width: 100%;
  height: 25%;
}

.title {
  text-align: center;
  font-size: 80px;
  color: #ddd;
}

.web-services {
  margin: auto;
  text-align: center;
  color: white;
  background-color: rgba(36, 52, 71, 0.5);
  height: 3rem;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
}

.web-services-body{
  height: 20rem;
  width: 50%;
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 1%;
  margin-top: 2%;
  text-align: left;
  color: white;
  background-color: rgba(36, 52, 71, 0.5);
  border: 1px solid white;
  margin-bottom: 2rem;
}

.web-services-body1 {
  height: 20rem;
  width: 50%;
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 1%;
  margin-top: 2%;
  text-align: left;
  color: white;
  background-color: rgba(36, 52, 71, 0.5);
  border: 1px solid white;
  margin-bottom: 2rem;
}

.data-services {
  margin: auto;
  text-align: center;
  color: white;
  background-color: rgba(36, 52, 71, 0.5);
  height: 3rem;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  border: 1px solid white;
}

.data-services-body {
  height: 20rem;
  width: 50%;
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 1%;
  margin-top: 2%;
  text-align: left;
  color: white;
  background-color: rgba(36, 52, 71, 0.5);
  border: 1px solid white;
  margin-bottom: 2rem;
}

.data-services-body1 {
  height: 20rem;
  width: 50%;
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 1%;
  margin-top: 2%;
  text-align: left;
  color: white;
  background-color: rgba(36, 52, 71, 0.5);
  border: 1px solid white;
  margin-bottom: 2rem;
}

.automation-services {
  margin: auto;
  text-align: center;
  color: white;
  background-color: rgba(36, 52, 71, 0.5);
  height: 3rem;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  border: 1px solid white;
}

.automation-services-body {
  height: 20rem;
  width: 50%;
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 1%;
  margin-top: 2%;
  text-align: left;
  color: white;
  background-color: rgba(36, 52, 71, 0.5);
  border: 1px solid white;
  margin-bottom: 2rem;

}

.automation-services-body1 {
  height: 20rem;
  width: 50%;
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 1%;
  margin-top: 2%;
  text-align: left;
  color: white;
  background-color: rgba(36, 52, 71, 0.5);
  border: 1px solid white;
  margin-bottom: 2rem;

}

.qanda-services {
  margin: auto;
  text-align: center;
  color: white;
  background-color: rgba(36, 52, 71, 0.5);
  height: 3rem;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  border: 1px solid white;
}

.qanda-services-body {
  height: 20rem;
  width: 50%;
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 1%;
  margin-top: 2%;
  text-align: left;
  color: white;
  background-color: rgba(36, 52, 71, 0.5);
  border: 1px solid white;
  margin-bottom: 2rem;

}

.qanda-services-body1 {
  height: 20rem;
  width: 50%;
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 1%;
  margin-top: 2%;
  text-align: left;
  color: white;
  background-color: rgba(36, 52, 71, 0.5);
  border: 1px solid white;
  margin-bottom: 2rem;

}

.service-body {
  margin-bottom: 10%;
}

.service-list {
  font-size: 48px;
  text-decoration: underline;
  margin: 0;
}

.service-paragraph {
  margin: 0;
  font-size: 20px;
}

.table-div {
  display: flex;
  align-items: center;
  justify-content: center;
}