html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Teko', sans-serif;
  font-size: 24px;
  
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.856);

}


nav {
  margin: -46px auto -65px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
  background-image: url("../public/logopic.jpg");
  color: white;
}

nav a {
  margin-left: 5%;
  text-indent: -15%;
  color: white;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

ul, li {
  list-style: none;
  text-align: left;
  margin-top: 5%;
 
}

nav .logo {
  margin-right: auto;
}

.logo {
  cursor: pointer;
}

.footer {
  display: block;
  text-align: center;
  padding: 0px 0;
  margin-top: auto;
  color: white;
  border-top: 1px solid #eaeaea;
  position: absolute;
  left: 0;
  bottom: -1;
  width: 100%;
  background-image: url("../public/logopic.jpg");
  
}

.titlebox {
  width: 100%;
  /* height: 25%; */
}

.title {
  text-align: center;
  font-size: 80px;
  color: #ddd;
}

/* service page */

.html-stack {
  display: flex;
  justify-content: space-evenly;
}

.languages-container {
  margin-top: 5rem;
}



.service-body {
  margin-bottom: 10%;
}

.service-list {
  font-size: 48px;
  text-decoration: underline;
  margin: 0;
}

.service-paragraph {
  margin: 0;
  font-size: 20px;
}

.table-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Home page  */

.home-info {
color: white;
height: 20rem;
  width: 50%;
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 1%;
  margin-top: 2%;
  text-align: left;
  border: 1px solid white;
  margin-bottom: 2rem;
  position: relative;
  transform: translateX(260px);
  opacity: 1;
  transition: 5s all ease;
  background-color: rgba(36, 52, 71, 0.5);
}
.home-info:hover{
  transform: translateX(0);
  opacity: 1;
}
.button{
  color: white;
  background-color: rgba(0, 0, 0, 0.856);
  height: 50px;
  width: 100%;
  margin-bottom: 5%;
}


.Home-page{
  background-image:  url('../public/1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}

/* about page*/

 .name-1{
  color: white;
height: 20rem;
  width: 50%;
  margin: 1%;
  margin-top: 2%;
  text-align: left;
  border: 1px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    display: block;
 
 }

 .name-2{
  color: white;
height: 20rem;
  width: 50%;
  margin: 1%;
  margin-top: 2%;
  text-align: left;
  border: 1px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
   

 }
 button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.button {
  margin-top: 5rem;
  
}

.container{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}

.card-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  justify-content: space-evenly;
}

/* scroll div */

.scroll-top {
  cursor: pointer;
}

/* contact form inputs */

.contact-form {
  height: 100%;
  width: 35%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.contact-input {
  margin: 1rem;
  font-size: 36px;
  border-radius: 20px;
  text-align: center;
  border: solid 5px grey;
}

.textarea {
  width: 92%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  margin: 1rem;
  padding-bottom: 4rem;
  margin-bottom: auto;
  word-break: break-all
}

/* contact form outline */
.contact-page {
  height: 100%;
  width: 100%;
  border: solid 5px white;

}

.contact-popup {
  height: 100%;
  width: 100%;
  background-color: white;
  padding: 10px;

}

.footer-companyname {
  color: white;
  
}

.footer-companyname:hover {
  color: black;
}

.paragraph {
  color: white;
  margin: 0 auto;
  padding: 20px;
  font-size: 30px;
}

.company-founded {
  margin-left: 20%;

}

.paragraph-services {
  text-align: center;
  color: white;
  font-size: 36px;
  
}

.fade-in-text {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}




@media only screen and (orientation: landscape) {
  .button {
    color: white;
  background-color: rgba(0, 0, 0, 0.856);
  height: 50px;
  width: 100%;
  margin-bottom: 8%;
  }
}

@media only screen and (orientation: portrait) {
  .button {
    color: white;
  background-color: rgba(0, 0, 0, 0.856);
  height: 50px;
  width: 100%;
  margin-bottom: 25%;
  }
}

@media only screen and (orientation: portrait) {
  .card-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
   
  }
}